.individual-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #ededed, #76a9e9);
}

.description{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.description p{
  width: 320px;
  height: 200px;
  margin: 20px;
  font-size: 1.2rem;
  color: #483232;
  background-color: rgb(255, 255, 255);
  letter-spacing: -1px;
  border: 1px solid #b2b;
  border-radius: 20px;
  text-align: center;
  font-style: italic;
  
}

.template-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #8208bf;
}


.option{
  text-align: center;
  max-width: 350px;
  width: 80%;
  min-height: 300px;
  margin: 25px;
  border-radius: 20px;
  background-color: rgb(219, 221, 224);
  box-shadow: 0 0 10px rgb(153, 9, 205);
  transition: all 0.3s;

}

.option:hover{
  transform: translateY(-20px);
  background-color: rgb(71, 166, 177);
  box-shadow: none;
  border: 2px solid rgb(153, 9, 205);
}

.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  /* border: 1px solid #b2b; */
  border-radius: 20px;
}

.button{
  /* border: 1px solid #b2b; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 160px;
}

.button h4{
  transform: translateY(-10px);
}

.button p{
  margin-bottom: 10px;
  font-size: 1rem;
}

.button button{
  width: 130px;
  height: 30px;
  padding-top: 7px;
  transform: translate(-3px,20px);
}