.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: linear-gradient(to right, #ededed, #76a9e9);
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  width: 300px;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  transform: translateX(-12px);
}

.login-form input:focus {
  border-width: 2px;
  border-color: #007bff;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}
.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  width: 20px;
  margin-bottom: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transform: translateX(4px);
}

.forgot-password a{
  cursor: pointer;
  color: #000000;
}

p{
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.signup-link a{
  color: #000000;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

a{
  transition: color 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #007bff;
}

a:active {
  color: #14cd17;
}
