.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background: linear-gradient(to right, #ededed, #76a9e9);

}

.signup-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  width: 300px;
}

.signup-form h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1.5rem;
}

h2{
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}



.signup-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  transform: translateX(-12px);
}

.signup-form input:focus {
  border-width: 2px;
  border-color: #007bff;
  outline: none;
}

.signup-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.input-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

a{
  color: #000000;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  transform: translateY(-1px);
}

