.welcome-container {
  text-align: center;
  padding: 4rem;
  font-family: sans-serif;
  background-color: #f0f4f8;
  background: linear-gradient(to right, #ededed, #76a9e9);
}

h1 {
  font-size: 2.5rem;
  color: #333;
  letter-spacing: -1px;
}

.welcome-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 20px;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a{
  text-decoration: none;
  color: aliceblue;
}

.template{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.template-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  /* border: 2px solid #807b7b; */
  border-radius: 10px;
  background-color: #dde6e6;
  min-height: 300px;
  margin: 4rem;
  box-shadow: 0 0 15px rgb(153, 9, 205);
}

.template-card img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.template-card h3{
  font-size: 1.6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li{
   list-style: none;
}

h2{
  margin-top: 6rem;
  font-size: 2rem;
}

.explore-button{
  margin-bottom: 1rem;
}