.welcome-container {
  text-align: center;
  padding: 4rem;
  font-family: sans-serif;
  background-color: #f0f4f8;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a{
  text-decoration: none;
  color: aliceblue;
}