body{
  margin:0px;
}
/* Layout container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content should expand to fill space */
.main-content {
  flex: 1;
}
.logo-social{
  width: 40px;
  height: 40px;
  color: #28a745;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.logo-social:hover{
  color: #007bff;
  transform: scale(1.3);
} 

.info-icon {
  width: 20px;
  height: 20px;
  transform: translate(8px, -9px);
}